
// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500')
// @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap')

// VARS
$white: #f1f1f1
$black: #232323
$pure-back: #000000
$dark-grey: #888888
$designer-color: #f4692a
$coder-color: #29cc00
$bg-color: #030203 // almost White
$lilac-color: #f1e7ff
$bg-overlay: rgba(35,35,35,.85)
// $font-family-text: 'Roboto',sans-serif
// $font-family-links: 'Roboto mono',sans-serif
$font-family: 'Rubik', sans-serif
$font-family-text: $font-family
$font-family-links: $font-family

$border-radius: 0

$width-phones: 420px
$width-aside: 260px

// (third party) brand colors
$facebook: #3B5998
$instagram: #E1306C
$twitter: #55ACEE
$linkedin: #0077B5
$whatsapp: #25d366

$hubspot: #ff7a59
$fullstory: #f65c8c
$analytics: #e8710a

$chrome: #ea4335
$firefox: #ff9500
$safari: #86868b
$explorer: #00a1f1

// by default to overwrite all of them
// $font-family-name: 'Roboto', sans-serif
// $font-family-desc: 'Roboto', sans-serif

$font-family-name: $font-family
$font-family-desc: $font-family
