@import "_vars"
@import "_bulma"

::selection
  background: black
  color: white

::-moz-focus-inner
  border: 0
  padding: 0

html
  scroll-behavior: smooth

// Bulma (css framework) overwrites
body, button, input, optgroup, select, textarea
  font-family: $font-family

body
  font-family: $font-family-text!important
  color: #585656
  // background: $black
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// PAGES
.sitemap
  .menu
    width: 280px
    margin: 0 auto

.legal .title + .subtitle
  @media only screen and (min-width: 1024px)
    margin-right: 3.5rem
    margin-left: 3.5rem
  
.responsability, .privacy, .terms, .cookies
  &.media .image img
    padding: .5rem
  .media-content
    @media only screen and (min-width: 769px)
      margin-top: 1rem


// Table styles
table, th, td
  border: none

table
  width: 100%
  display: table
  border-collapse: collapse
  border-spacing: 0

table.striped tr
  border-bottom: none

table.striped > tbody > tr:nth-child(odd)
  background-color: rgba(242, 242, 242, 0.5)

table.striped > tbody > tr > td
  border-radius: 0

table.highlight > tbody > tr
  transition: background-color .25s ease

table.highlight > tbody > tr:hover
  background-color: rgba(242, 242, 242, 0.5)

table.centered thead tr th, table.centered tbody tr td
  text-align: center

tr
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)

td, th
  padding: 15px 5px
  display: table-cell
  text-align: left
  vertical-align: middle
  border-radius: 2px

@media only screen and (max-width: 992px)
  table.responsive-table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    display: block
    position: relative

  table.responsive-table td:empty:before
    content: '\00a0'

  table.responsive-table th,
  table.responsive-table td
    margin: 0
    vertical-align: top

  table.responsive-table th
    text-align: left

  table.responsive-table thead
    display: block
    float: left

  table.responsive-table thead tr
    display: block
    padding: 0 10px 0 0

  table.responsive-table thead tr th::before
    content: "\00a0"

  table.responsive-table tbody
    display: block
    width: auto
    position: relative
    overflow-x: auto
    white-space: nowrap

  table.responsive-table tbody tr
    display: inline-block
    vertical-align: top

  table.responsive-table th
    display: block
    text-align: right

  table.responsive-table td
    display: block
    min-height: 1.25em
    text-align: left

  table.responsive-table tr
    border-bottom: none
    padding: 0 10px

  table.responsive-table thead 
    border: 0
    border-right: 1px solid rgba(0, 0, 0, 0.12)

// to overwrite "materializecss" Tables layout by default
// In "Legal" view for example
table
  margin-bottom: 1rem
td, th
  vertical-align: top
  font-size: 85%
  line-height: 22px


// * -- NEW: #HazTuNegocioDigital -- *

// (animations)
.fade-enter-active, .fade-leave-active
  transition: opacity .8s ease-in-out

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0

.slide-fade-enter-active
  transition: all .3s ease

.slide-fade-leave-active
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter,
.slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0

.navbar:not(.bottom-bar),
.navbar.bottom-bar .navbar-brand,
.tabs.is-sticky
  background-color: rgba($bg-color,.75)
  backdrop-filter: saturate(180%) blur(8px)

.navbar.bottom-bar
  background-color: transparent
  bottom: 1.5rem
  left: .75rem
  right: .75rem
  width: calc(100% - 1.5rem)
  max-width: 450px
  margin: 0 auto
  .navbar-brand
    align-items: center
    padding: .5rem
  .is-burger-btn
    flex-direction: column
    justify-content: center
    align-items: center
    height: 3rem
    min-width: 6rem // cause copies
  .navbar-burger
    margin: 0
  .burger-copy
    line-height: 1

// main top NAVBAR
.navbar-item
  &.logo img
    max-height: none
  &.is-overlay
    // max-width: 135px
    height: 35px
    padding: .25rem .5rem
    z-index: 2
  @media screen and (max-width: 1023px)
    &.has-dropdown .navbar-link
      display: none
    .navbar-dropdown.is-boxed
      padding: 0
      text-align: center

.navbar-brand
  justify-content: space-between
  .has-cta-btn
    align-items: center

.navbar-burger
  width: 4rem
  &:hover
    background-color: transparent
  &:not(.is-active), &:not(.is-active):hover
    color: transparent
  span
    height: 3px
    border-radius: 3px
    color: #48c774
    left: calc(50% - 15px)
    &:nth-child(1)
      width: 24px
      top: calc(50% - 9px)
    &:nth-child(2)
      width: 28px
    &:nth-child(3)
      width: 20px
      top: calc(50% + 7px)
  &.is-active, &.is-active:hover
    span
      color: orange
      &:nth-child(1), &:nth-child(3)
        width: 26px
      &:nth-child(1)
        transform: translateY(7px) rotate(45deg)
      &:nth-child(3)
        transform: translateY(-9px) rotate(-45deg)

.heading + .button
  @media (max-width: 768px)
    min-width: 225px

.level .card
  width: 250px
  @media (max-width: 768px)
    width: 275px

.card-bg-img
  width: 200px
  height: 200px
  // background-size: 200px 200px
  @media (max-width: 480px)
    width: 150px
    height: 150px
    // background-size: 150px 150px

.card-bg-img + .card-content
  padding-top: 0

.card-bg-img
  margin: 0 auto
  background-repeat: no-repeat
  background-position: center center
  &.is-mobile-apps
    background-image: url(~static/anim/mobile-apps-animate.svg)
  &.is-online-world
    background-image: url(~static/anim/online-world-animate.svg)
  &.is-mobile-marketing
    background-image: url(~static/anim/mobile-marketing-animate.svg)
  &.is-agreement
    background-image: url(~static/anim/agreement-animate.svg)
  &.is-broken-glass
    background-image: url(~static/artworks/htnd-artwork--broken-glass.svg)
    height: 450px
    width: auto

.tabs
  &.is-sticky
    margin-right: -1.5rem
    margin-left: -1.5rem
    margin-bottom: 2rem
    box-shadow: $dropdown-navbar-shadow
    position: sticky
    top: 55px
    z-index: 31
    @media (min-width: 1024px)
      border-bottom-left-radius: $radius
      border-bottom-right-radius: $radius
      margin-right: -.5rem
      margin-left: -.5rem
      margin-bottom: 4rem
    @media (max-width: 600px)
      a
        padding: .5rem .25rem
      li.is-active a span
        color: $success

.tag:not(body).is-light
  background-color: $lilac-color

.underline
  text-decoration: underline

.text-shadow
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.1), 0 0 2px $bg-color, -2px -2px 0 $bg-color, 2px -2px 0 $bg-color, -2px 2px 0 $bg-color, 2px 2px 0 $bg-color
  // text-shadow: 0 0 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white
  @media (max-width: 768px)
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.075)

.has-vert-spacer::after
  content: "|"
  padding: 0 .5rem
  color: $lilac-color
  @media (max-width: 600px)
    display: none

.jalofernandez
  color: $designer-color
  @media (hover: hover)
    &:hover, &:focus
      text-decoration: underline
      color: darken($designer-color, 10%)

// BTNS!!
.button
  // border-radius: .5rem!important
  &.neomorph
    background: #fbf8ff // superlight Lilac
    border: none
    color: #444
    font-size: 1rem
    font-weight: 700
    letter-spacing: .02rem
    text-align: center
    outline: none
    cursor: pointer
    transition: .2s ease-in-out
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),  -6px -6px 10px rgba(255, 255, 255, .5), 6px 6px 8px rgba(255, 255, 255, .075), 6px 6px 10px rgba(0, 0, 0, .15)
    @media (hover: hover)
      &:hover
        box-shadow: -2px -2px 6px rgba(255, 255, 255, .6), -2px -2px 4px rgba(255, 255, 255, .4), 2px 2px 2px rgba(255, 255, 255, .05), 2px 2px 4px rgba(0, 0, 0, .1)
      &:active
        box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7), inset -2px -2px 4px rgba(255, 255, 255, .5), inset 2px 2px 2px rgba(255, 255, 255, .075), inset 2px 2px 4px rgba(0, 0, 0, .15)

.neomorph:not(.quote)
  background-color: #fbf8ff // superlight Lilac
  box-shadow: 4px 4px 8px #bdbdbd, -4px -4px 8px #ffffff, inset 0px 0px 0px #bdbdbd, inset 0px 0px 0px #ffffff
  transition: all 0.2s linear
  position: relative
  cursor: pointer
  @media (hover: hover)
    &:hover
      box-shadow: 0px 0px 0px #bdbdbd, 0px 0px 0px #ffffff, inset 4px 4px 8px #bdbdbd, inset -4px -4px 8px #ffffff
  &.circle
    border-radius: 100%

.neomorph.quote
  background-color: #fbf8ff // superlight Lilac
  border-radius: 1rem
  -webkit-filter: drop-shadow(3px 1px 18px rgb(255, 255, 255))
  box-shadow: inset 5.3px 5.3px 7px rgba(183, 177, 181, 0.34)
  border: 1px solid rgb(255, 255, 255)
  color: #666
  text-shadow: 1px 1px 1px white

@import "_cookies" 
@import "_contact"
@import "_anims"
@import "_modals"
@import "_business"
